[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "nicknames"
dynamic = ["version"]
authors = [
  { name="Carlton Northern", email="carlton.northern@gmail.com" },
]
description = "Hand-curated dataset of English given names and nicknames"
readme = "../README.md"
license = { file="../License.txt" }
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/carltonnorthern/nicknames"
"Bug Tracker" = "https://github.com/carltonnorthern/nicknames/issues"

[tool.hatch.version]
path = "src/nicknames/_version.py"

[tool.hatch.envs.default]
dependencies = [
  "black",
  "flake8",
  "isort",
  "pytest",
]

[tool.hatch.envs.default.scripts]
# Run these in the repo root to get ALL python files
flake8 = "python -m flake8 --max-line-length=88 .."
black = "python -m black --check .."
isort = "python -m isort --check-only --diff .."
test = "pytest"
sync = "python ../normalize.py && python ../sql/generate_sql.py"

# Instructs hatch to call hatch_build.py during build step
[tool.hatch.build.hooks.custom]
